@model Produto

<h1>Detalhes do Produto</h1>

<div>
    <h4>Nome: @Model.Nome</h4>
    <h4>Preço: @Model.CodigoProduto</h4>
    <h4>Preço: @Model.Preco</h4>
    <h4>Preço: @Model.PrecoVenda</h4>
    <h4>Preço: @Model.Categoria</h4>
    <h4>Preço: @Model.Marca</h4>  
</div>

<a asp-action="Index">Voltar para a Lista</a>
