@model Fornecedor

<h1>Editar Fornecedor</h1>

<form asp-action="Edit" asp-route-id="@Model.Id">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="CPForCNPJ">CPF/CNPJ:</label>
        <input type="text" class="form-control" id="CPForCNPJ" name="CPForCNPJ" value="@Model.CPForCNPJ" required>
    </div>
    <div class="form-group">
        <label for="Nome">Nome:</label>
        <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome" required>
    </div>
    <div class="form-group">
        <label for="Telefone">Telefone:</label>
        <input type="text" class="form-control" id="Telefone" name="Telefone" value="@Model.Telefone" required>
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
    </div>
    <div class="form-group">
        <label for="Endereco.CEP">CEP:</label>
        <input type="text" class="form-control" id="Endereco.CEP" name="Endereco.CEP" value="@Model.Endereco.CEP" required>
    </div>
    <div class="form-group">
        <label for="Endereco.Logradouro">Logradouro:</label>
        <input type="text" class="form-control" id="Endereco.Logradouro" name="Endereco.Logradouro" value="@Model.Endereco.Logradouro" required>
    </div>
    <div class="form-group">
        <label for="Endereco.Numero">Número:</label>
        <input type="number" class="form-control" id="Endereco.Numero" name="Endereco.Numero" value="@Model.Endereco.Numero" required>
    </div>
    <div class="form-group">
        <label for="Endereco.Complemento">Complemento:</label>
        <input type="text" class="form-control" id="Endereco.Complemento" name="Endereco.Complemento" value="@Model.Endereco.Complemento">
    </div>
    <div class="form-group">
        <label for="Endereco.Bairro">Bairro:</label>
        <input type="text" class="form-control" id="Endereco.Bairro" name="Endereco.Bairro" value="@Model.Endereco.Bairro" required>
    </div>
    <div class="form-group">
        <label for="Endereco.Cidade">Cidade:</label>
        <input type="text" class="form-control" id="Endereco.Cidade" name="Endereco.Cidade" value="@Model.Endereco.Cidade" required>
    </div>
    <div class="form-group">
        <label for="Endereco.UF.UFSigla">UF:</label>
        <input type="text" class="form-control" id="Endereco.UF.UFSigla" name="Endereco.UF.UFSigla" value="@Model.Endereco.UF.UFSigla" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<a class="btn btn-secondary" asp-action="Index">Voltar</a>
